{
	"extends": ["@d-zero/eslint-config"],
	"rules": {
		"@typescript-eslint/ban-ts-comment": 0
	},
	"overrides": [
		{
			"files": ["*.mjs", "**/*.spec.{js,mjs}"],
			"rules": {
				"import/no-extraneous-dependencies": 0
			}
		}
	]
}
