doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Document
	body
		span
			div foo

		.c-component
			.c-component__element
				.c-component2
					.c-component__invalid-element-nesting
					.c-component2__valid-element-nesting
					.c-other-component
						.c-other-component__valid-element-nesting
